<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - Snapgram</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>
	<img src="{{ url_for('static', filename='img/backgrounds/1.jpg') }}" id="bg" alt="">
	
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Snapgram</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						{% if session['logged_in'] == True %}<li><a href="/upload">Upload</a></li>{% endif %}
						<li><a href="/search">Search</a></li>
						{% if session['logged_in'] == True %}
							<li><a href="/logout">log out</a></li>
						{% else %}
							<li><a href="/signup">Sign up</a></li>
						{% endif %}
						{% if session['logged_in'] == True %}
							<li><a href="/user/{{ session['name'] }}"><strong>{{ session['name'] }}</strong></a></li>
						{% else %}
							<li><a href="/login">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        {% block content %} {% endblock %}

        <!-- Javascript -->
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/retina-1.1.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"> </script>
		
        <!--[if lt IE 10]>
            <script src="{{ url_for('static', filename='js/placeholderLogin.js') }}"></script>
        <![endif]-->

    </body>

</html>