<html>
<head>
	<title>Login</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>
<body>

<form name="login_form" action="" method="post">
	<input type="email" placeholder="Email" name="email">
	<input type="password" placeholder="Password" name="password">
	<button type="submit" class="btn" name="button" value="login">
		Login
	</button>
</form>

{% with messages= get_flashed_messages () %}
	{% if messages %}
		<h3>{{ messages[0] }}</h3>
	{% endif %}
{% endwith %}

</body>
<html>
