{% extends "base.html" %}
{% block content %}
<!-- Top content -->
<div class="top-content">
	
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1></h1>
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>Upload a photo</h3>
							<p>Select photo file to uplaod:</p>
						</div>
						<div class="form-top-right">
							<i class="fa fa-upload"></i>
						</div>
					</div>
					<div class="form-bottom">
						<form role="form" action="" method="post" class="form" enctype="multipart/form-data">
							<div class="form-group">
								<input type="file" name="datafile" class="filestyle" data-placeholder="No file selected." data-size="lg">
							</div>							
							<div class="form-group">
								<label class="sr-only" for="form-password">Description</label>
								<input type="text" name="description" placeholder="Photo description..." class="form-password form-control" id="form-description">
							</div>
							<button type="submit" class="btn">Upload!</button>									
							{% with messages= get_flashed_messages () %}
								{% if messages %}
									<div class="errormessage">
										<p>{{ messages[0] }}</p>
									</div>
								{% endif %}
							{% endwith %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
